NodeRED_flow/magiclights.json
[{"id":"ba386057.845d3","type":"mqtt-broker","broker":"128.199.55.129","port":"1883","clientid":""},{"id":"85519dd7.7aae6","type":"HueNode","name":"","username":"charalampos","discovery_mode":"","lamp_id":"1","color":"EBF5FF","brightness":"100","lamp_status":"AUTO","x":519,"y":338,"z":"7b80052d.847ffc","wires":[[]]},{"id":"fe580d74.01a7f","type":"twitter in","twitter":"","tags":"#tedxtrento","user":"false","name":"tedxtrento","topic":"tweets","x":123,"y":153,"z":"7b80052d.847ffc","wires":[["6530ab10.9acf54","2b5f5f22.d4a0a"]]},{"id":"ec831d9e.137ce","type":"function","name":"","func":"var letters = '0123456789ABCDEF'.split('');\n    var color = '';\n    for (var i = 0; i < 6; i++ ) {\n        color += letters[Math.floor(Math.random() * 16)];\n    }\n\nmsg.lamp = 1;\n\nif(msg.payload.length != 6)\n\tmsg.color = color;\nelse\n\tmsg.color = msg.payload;\n\nmsg.payload = \"ON\";\nmsg.brightness = 100;\nreturn msg;","outputs":1,"x":311,"y":375,"z":"7b80052d.847ffc","wires":[["85519dd7.7aae6"]]},{"id":"2b5f5f22.d4a0a","type":"debug","name":"","active":true,"console":"false","complete":"false","x":278,"y":236,"z":"7b80052d.847ffc","wires":[]},{"id":"68e6922a.97196c","type":"mqtt in","name":"","topic":"magiclight","broker":"ba386057.845d3","x":284,"y":474,"z":"7b80052d.847ffc","wires":[["ec831d9e.137ce","9d44a1d3.62bb6"]]},{"id":"9d44a1d3.62bb6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":450,"y":480,"z":"7b80052d.847ffc","wires":[]},{"id":"6530ab10.9acf54","type":"function","name":"","func":"var letters = '0123456789ABCDEF'.split('');\n    var color = '';\n    for (var i = 0; i < 6; i++ ) {\n        color += letters[Math.floor(Math.random() * 16)];\n    }\n\nmsg.lamp = 2;\nmsg.color = color;\nmsg.payload = \"ON\";\nmsg.brightness = 100;\nreturn msg;","outputs":1,"x":324,"y":159,"z":"7b80052d.847ffc","wires":[["e40d3918.1bf2c8"]]},{"id":"e40d3918.1bf2c8","type":"HueNode","name":"","username":"charalampos","discovery_mode":"","lamp_id":"2","color":"EBF5FF","brightness":"100","lamp_status":"AUTO","x":511,"y":160,"z":"7b80052d.847ffc","wires":[[]]}]